.ef_saletree [data-name="product_id"]{width: 120px !important;}
.ef_saletree [data-name="product_template_id"]{width: 120px !important;}
.ef_saletree [data-name="name"]{width: 120px !important;}
.ef_saletree [data-name="product_uom"]{width: 90px !important;}