.ef_saletree [data-name="x_customer_order_length"]{width: 130px !important;}
.ef_saletree [data-name="x_sale_line_item_group"]{width: 90px !important;}
.ef_saletree [data-name="x_customer_order_width"]{width: 90px !important;}
.ef_saletree [data-name="x_order_customer_uom"]{width: 90px !important;}
.ef_salebomtree [data-name="x_product_product_bom"]{width: 250px !important;}
.ef_salelabortree [data-name="x_labor_monetary_amount"]{width: 200px !important;}
.ef_salelabortree [data-name="x_product_labor_cu"]{width: 120px !important;}
.ef_salelabortree [data-name="x_product_product_labor"]{width: 200px !important;}